*{
 margin: 0px;
 padding: 0px;
 vertical-align: top;
 box-sizing:border-box;
 outline: 1px dotted red;

}
#wrapper{
 width: 1000px;
 background-color: rgb(18, 53, 91);
 margin: 0px auto;
 padding: 5px;

}
h1 {
   min-height: 2%;
   background-color: rgb(215, 38, 56);
   margin:10px;
   color: white;
   padding: 10px;
   text-align: left;
   font-size: 20pt;
   display: inline;
    /* move to the right of page */
}

 h2 {
    min-height: 2%;
    background-color: rgb(215, 38, 56);
    margin:10px;
    color: white;
    padding: 10px;
    text-align: left;
    font-size: 16pt;
    display: inline;
 
}

h3 {
    min-height: 2%;
    background-color: rgb(215, 38, 56);
    margin:10px;
    color: white;
    padding: 10px;
    text-align: left;
    font-size: 16pt;

}
#imgabout img {
    margin 10px;
    display: inline-block;
    max-width: 25%;
    height: auto;
    border: 3px solid grey;
}

#about {
    width: 200px;
    background-color: rgb(5, 127, 138);
    margin:15px;
    color: white;
    padding: 25px;
    display: inline-block;
    
  
}

#oneoffour{
 width: 200px;
 background-color: rgb(5, 127, 138);
 margin:15px;
 display: inline-block;
 color: white;
 padding: 25px;
 

 }

#main_content{
 min-height: 400px;
 width: 700px;
 background-color: rgb(48, 48, 48);
 color: white;
 margin: 10px;
 padding: 30px;
 display: inline-block;

}

footer {
 min-height: 40px;
background-color: rgb(80, 81, 94);
color: rgb(204, 203, 213);
margin: 2%;
padding: 1%;
}